@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:wght@600&display=swap');

body {
  background-color: #EFEAD8;
}

img {
  width: 160px;
  border-radius: 50%;
}

h1,h2 {
  font-family: 'Raleway', sans-serif;
  color: #5F7161;
}

p {
  font-family: 'PT Sans', sans-serif;
  color: #6D8B74;
  text-align: justify;
}

a {
  color: rgb(141, 141, 141);
  font-size: medium;
  text-decoration: none;
}

a:hover {
  color: rgb(174, 173, 173);
}

div {
  display: block;
}

.container {
  margin: 40px auto;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
  width: 800px;
  margin: 20px auto;
}

.btn {
  background-color: #6D8B74;
  font-family: 'PT Sans', sans-serif;
  color: white;
  padding: 9px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card {
    width: 300px;
  }
}
